# Fichier d'exemple. Renommez-le en ".env" et mettez-y vos propres valeurs.
DB_NAME=gestion-equipe-foot
DB_USER=mon_utilisateur
DB_PASSWORD=mon_mot_de_passe

COACH_EMAIL=coach@equipe.fr
COACH_PASSWORD=motdepasse

# Nouvelles variables pour la migration vers une architecture microservices
AUTH_DB_NAME=auth_db
AUTH_DB_ROOT_PASSWORD=root
AUTH_DB_USER=user
AUTH_DB_PASSWORD=password

JWT_SECRET_KEY=key